<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cpr_assist">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!-- Declare Bluetooth features (important for Android 12+) -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"
        tools:targetApi="eclair" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"
        tools:targetApi="eclair" />

    <application
        android:label="CPR Assist"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">

        <!-- Suppress ProxyAndroidLoggerBackend logs -->
        <meta-data
            android:name="log.tag.ProxyAndroidLoggerBackend"
            android:value="ERROR" />

        <meta-data
            android:name="log.tag.ViewRootImpl"
            android:value="ERROR" />

        <!-- ✅ Correctly placed Google Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-xmn9AihdJDh4k5IVrc-aSQnir_Jkwls" />



        <activity
            android:name="com.example.cpr_assist.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Metadata for Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Metadata for BLE advertising -->
        <meta-data
            android:name="com.google.android.bluetooth.le.BLE_ADVERTISING_SUPPORTED"
            android:value="true" />
    </application>


    <!-- Queries for process text intents -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- Allow querying for Bluetooth devices -->
        <intent>
            <action android:name="android.bluetooth.device.action.FOUND" />
        </intent>
    </queries>
</manifest>
